body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
}

.container {
    position: relative;
}

.card {
    max-width: 21cm;
    margin: 0 auto;
    background-color: #01BAD2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'cursive';
    text-align: justify;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
    margin: 10px;
    overflow: hidden; /* Adiciona um overflow para esconder o texto que ainda não foi animado */
}

@keyframes typing {
    from {
        width: 0; /* Começa sem largura (invisível) */
    }
    to {
        width: 100%; /* Termina com largura total (texto completamente visível) */
    }
}

.card::after {
    content: "";
    display: inline-block;
    width: 0; /* Inicia com zero largura (invisível) */
    overflow: hidden; /* Esconde o conteúdo que ainda não foi animado */
    vertical-align: bottom;
    animation: typing 2s steps(40) forwards; /* Adiciona a animação de digitação */
}


.instagram-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

.instagram-text {
    font-weight: bold;
    color: #FFFFFF;
}

.instagram-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

.instagram-link:hover {
    text-decoration: underline;
}

.instagram-logo {
    margin-right: 3px;
    color: #FFFFFF;
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

.logo-container {
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 160px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    z-index: 2;
    display: inline-block;
}

@keyframes handwriting {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}
