body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
}

.instagram-section {
    margin-bottom: 20px;
    color: #01BAD2;
}

.card {
    background-color: #01BAD2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.handwriting {
    font-family: 'cursive';
}

.handwriting-animation {
    animation: handwriting 1s linear infinite alternate;
}

.instagram-text {
    font-weight: bold;
}

.instagram-link {
    text-decoration: none;
    color: #FFFFFF;
}

.instagram-link:hover {
    text-decoration: underline;
}

.instagram-logo {
    margin-right: 5px;
}

@keyframes handwriting {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}
